<!-- HEADER-->
<br /><br />
<!-- Body-->
<div class="container">
    <section class="main row">
        <div id="botonesheader">
            <article class="col-md-4 col-md-offset-1">
                <div class="btn-group-xs">
                    <button class="btn btn-default"><a routerLink="/drops">Upcoming</a></button>
                    <button class="btn btn-default"><a routerLink="/released">Released</a></button>
                    <button class="btn btn-default"><a routerLink="/news">Calendar</a></button>
                </div>
            </article>
            <br /><br />
        </div>       
        <article class="col-md-12">
            <article class="col-md-4">
                <a routerLink="/upcominginfo"><img class="img-responsive" [src]="'../../assets/img/aj1unc.jpg'" /></a>Air Jordan 1 x Off White<br/> 31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1unc.jpg'" />Air Jordan 1 x Off White<br/> 31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1unc.jpg'" />Air Jordan 1 x Off White<br/> 31/05/2018
            </article>
        </article>
        <br /><br />
        <article class="col-md-12">
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1unc.jpg'" />Air Jordan 1 x Off White<br/> 31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1unc.jpg'" />Air Jordan 1 x Off White<br/> 31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1unc.jpg'" />Air Jordan 1 x Off White<br/> 31/05/2018
            </article>
            <br /><br />
        </article>
        <article class="col-md-12">
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1unc.jpg'" />Air Jordan 1 x Off White<br/> 31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1unc.jpg'" />Air Jordan 1 x Off White<br/> 31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1unc.jpg'" />Air Jordan 1 x Off White<br/> 31/05/2018
            </article>
            <br /><br />
        </article>
    </section>
</div>
<br /><br />

<!--Footer-->