<!--The content below is only a placeholder and can be replaced.-->
<script>  
  (function(d,s,id) {  
      var js, fjs = d.getElementsByTagName(s)[0];  
      if(d.getElementById(id)) return;  
      js = d.createElement(s); js.id = id;  
      js.src = "http://connect.facebook.net/es_ES/sdk.js";  
      fjs.parentNode.insertBefore(js, fjs);  
  }(document, 'script', 'facebook-jssdk'));  
  window.fbAsyncInit = function() {  
      FB.init({  
          appId    : '802782033424136',  
          cookie   : true,  
          xfbml    : true,  
          version  : 'v2.0'  
      });  
  }  
  </script> 
<div style="text-align:center">
  <h1>
    Get y Post
  </h1>
</div>
<form (ngSubmit)="enviaFormulari()">
  Name:<input type="text" name="name"
      #nomProducte="ngModel"  [(ngModel)]="nuevoUsuario.name"
   pattern="[A-Za-z]{2,6}" />
  <br />
  Surname:<input type="text" name="preu" [(ngModel)]="nuevoUsuario.surname" />
  <br />
  Birthdate:<input type="date" name="birthdate"
      #descrProducte="ngModel"
      [(ngModel)]="nuevoUsuario.birthdate"/>
  <br />
  Address:<input type="text" name="address"
      #addressProducte="ngModel"
      [(ngModel)]="nuevoUsuario.address"/>
  <br />
  Email:<input type="email" name="email"
      #emailProducte="ngModel"
      [(ngModel)]="nuevoUsuario.email"/>
  <br />
  Password:<input type="password" name="password"
      #passwordProducte="ngModel"
      [(ngModel)]="nuevoUsuario.password"/>
  <br />
 
  <button type="submit">
    AÑADE USUARIO
  </button>
</form>

  <button (click)="getProducte()">
    MOSTRA Resposta
  </button>

<div id="users" >hola</div>

<div *ngFor="let usuario of usuarios; let i = index">
    {{i}} {{usuario.name}} <br />
    {{usuario.birthdate}}

</div>

<router-outlet></router-outlet>