
  <!-- HEADER-->
  <br /><br />
  <!-- Body-->
  <div class="container">
    <!--
          <img class="img-responsive" src="'assets/img/hypebeast.jpg'"  width="460" height="345">
        -->
    <section class="main row">
      <article class="col-sm-12 col-md-8 col-md-offset-2">
        <img class="img-responsive" [src]="'../../assets/img/hypebeast.jpg'" />
        <br /><br />
        <img class="img-responsive" [src]="'../../assets/img/hypebeast.jpg'" />
        <br/>
      </article>

      <article class="col-sm-12 col-md-8 col-md-offset-2">
      </article>
    </section>
  </div>
  <br /><br />

  <!--Footer-->

