<!-- HEADER-->
<br /><br />
<!-- Body-->
<div class="container">
    <section class="main row">
        <br /><br />
        <article class="col-md-12">
            <article class="col-md-4">
                <a routerLink="/proxypayment"><img class="img-responsive"
                        [src]="'../../assets/img/aj1solefly.jpg'" /></a>Air Jordan 1 x Solefly<br /> 31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1solefly.jpg'" />Air Jordan 1 x Solefly<br />
                31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1solefly.jpg'" />Air Jordan 1 x Solefly<br />
                31/05/2018
            </article>
        </article>
        <br /><br />
        <article class="col-md-12">
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1solefly.jpg'" />Air Jordan 1 x Solefly<br />
                31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1solefly.jpg'" />Air Jordan 1 x Solefly<br />
                31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1solefly.jpg'" />Air Jordan 1 x Solefly<br />
                31/05/2018
            </article>
            <br /><br />
        </article>
        <article class="col-md-12">
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1solefly.jpg'" />Air Jordan 1 x Solefly<br />
                31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1solefly.jpg'" />Air Jordan 1 x Solefly<br />
                31/05/2018
            </article>
            <article class="col-md-4">
                <img class="img-responsive" [src]="'../../assets/img/aj1solefly.jpg'" />Air Jordan 1 x Solefly<br />
                31/05/2018
            </article>
            <br /><br />
        </article>
    </section>
</div>
<br /><br />

<!--Footer-->