<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>About me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


</head>
<body >

    <header>
    
        <div class="name ">
           <h1> {{name}}</h1>
        </div>

        <div class="ava">
            <img [src]='foto' alt="avatar" style=""/>
        </div>    

    </header>
    <div class="content">
        <aside class="info ">
            <div class="box">
                <p class="title">
                    <i class="fa fa-info-circle"></i>Information
                </p>
                
                <p class="padd-top">
                    <i class="fa fa-birthday-cake"></i>
                    {{birthdate}}
                </p>

                <p>
                    <i class="fas fa-file-signature"></i>
                    {{surname}}
                </p>            

                <p>
                    <i  class="fa fa-envelope"></i>
                    {{email}}
                </p>                

                <p>
                    <i class="fa fa-home"></i>
                    {{address}} 
                </p>                

            </div>   
        </aside>


        <section class="main">
            <div class="box">
                <p class="title">
                    <i class="fa fa-graduation-cap"></i>
                    Comments
                </p>
                <p class="padd-top">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, maxime obcaecati enim illo dolorem, recusandae eum! Quasi natus quaerat aspernatur hic, maxime necessitatibus, quo voluptatem veritatis excepturi error sit vero deleniti laborum alias, expedita nostrum. Mollitia doloribus voluptates explicabo quidem.
                </p>
            </div>  


            <div class="box">
                <p class="title">
                    <i class="fa fa-flag"></i>
                    activity
                </p>
                <br>
                <p class="padd-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur rem, perspiciatis aliquam amet asperiores earum vero hic ab, minus veritatis. 
                </p>
            </div>  
            <image-upload></image-upload><br>
            <input class="btn btn-danger" type="button" (click)="logout()" value="Log Out">

        </section>

    </div>
    <footer>    </footer>
</body>
</html>
<!--Footer-->