<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>About me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


</head>
<body >

    <header>
    
        <div class="name ">
           <h1> {{name}}</h1>
        </div>
        <label class="hoverable ava" for="fileInput">
            <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" style="margin-left: 50%;
            margin-right: 8%;"> 
            <div class="hover-text" style="visibility: hidden">Choose file</div>
            <div class="background"></div>
          </label>
          <br/>
          <input id="fileInput" type='file' (change)="upload($event)">
          <button *ngIf="url" (click)="delete()" >delete</button>
        <!--
          <div class="ava">
            <img [src]='foto' alt="avatar" style=""/>
        </div>  -->  

    </header>
    <div class="content">
        <aside class="info ">
            <div class="box">
                <p class="title">
                    <i class="fa fa-info-circle"></i>Information
                </p>
                
                <p class="padd-top">
                    <i class="fa fa-birthday-cake"></i>
                    {{birthdate}}
                </p>

                <p>
                    <i class="fas fa-file-signature"></i>
                    {{surname}}
                </p>            

                <p>
                    <i  class="fa fa-envelope"></i>
                    {{email}}
                </p>                

                <p>
                    <i class="fa fa-home"></i>
                    {{address}} 
                </p>                

            </div> 
            <div class="box">
                <p class="title">
                    <i class="fa fa-graduation-cap"></i>
                    Comments
                </p>
                <p class="padd-top">
                    Date: {{superdate}}
                </p>
            </div>  
            

        </aside>


        <section class="main">
            

            <div class="box">
                <p class="title">
                    <i class="fa fa-flag"></i>
                    activity
                </p>
                <br>
                <p class="padd-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur rem, perspiciatis aliquam amet asperiores earum vero hic ab, minus veritatis. 
                </p>
            </div>  




            <div class="box"><!--routerLink="/home"-->
                <button class="btn btn-danger"  (click)="logOut()"><a>Log Out</a></button>
            </div> 
        </section>

    </div>
    <footer>    </footer>
</body>
</html>
<!--Footer-->