<!-- HEADER-->
<br /><br />
<!-- Body-->
<div class="container">
    <section class="main row">
        <div id="botonesheader">
            <article class="col-md-4 col-md-offset-1">
                <div class="btn-group-xs">
                    <button class="btn btn-default"><a routerLink="/news">Last</a></button>
                    <button class="btn btn-default"><a routerLink="/news">Popular</a></button>
                    <button class="btn btn-default"><a routerLink="/news">Commented</a></button>
                </div>
            </article>
            <br /><br />
        </div>

        <article class="col-md-12" *ngFor="let drop of drops;" style="border-style: solid;">
            <article class="col-md-3">
                <img class="img-responsive" [src]="drop.url_sneaker"/>
                Nombre: {{drop.model}}<br />
                Fecha: {{drop.dropDate}}
            </article>
            <article class="col-md-8">
                <p>
                     Inscripciones a sorteos disponibles :<br/><br/>
                    <a [href]="drop.link1"> {{drop.link1}}</a><br />
                    <a [href]="drop.link2"> {{drop.link2}}</a><br />
                    <a [href]="drop.link3"> {{drop.link3}}</a><br /><br />
                    Descripción: <br/>
                    {{drop.description}}
                    <br><br>
                </p><br><br>
            </article><br>
            
        </article><br>
    </section>
</div>
<br /><br />

<!--Footer-->
