<header>
    <div class="container-fluid">
      <section class="main row">
        <article class="col-md-12">
        </article>
        <div id="header" class="col-md-12">
          <article class="col-md-2 col-md-offset-1">
              <button class="btn btn-primary" routeLink="/home"><img class="img-responsive" [src]="'../../assets/img/oie_transparent.png'" /></button>
          </article>
          <div id="botonesheader">
            <article class="col-md-6 col-md-offset-1">
              <div class="btn-group-lg">
                 <button class="btn btn-default" routerLink="/news"><a>News</a></button>
                <button class="btn btn-default col-md-offset-1" routerLink="/drops"><a>Drops</a></button>
                <button class="btn btn-default col-md-offset-1">Raffles</button>
                <button class="btn btn-default col-md-offset-1" (click)="checkUser2()"><a>Proxy</a></button>
                
                
              </div>
              <div style="color: red;float: right; margin-right: 55px;">{{failproxy}}</div>
            </article>
          </div>
          <article class="col-md 1">
          <span class="glyphicon glyphicon-user"></span><button class="btn btn-default" routerLink="/login"><a>Login</a></button>
          <button class="btn btn-warning" (click)="checkUser()"><a>Profile</a></button><br>
          <span style="color: red">{{fail}}</span>
          
          </article>
        </div>
      </section>
    </div>
  </header>
