    <br /><br />
    <!-- Body-->
    <div class="container">
        <!--
          <img class="img-responsive" src="'assets/img/hypebeast.jpg'"  width="460" height="345">
        -->
        <section class="main row">

            <form (ngSubmit)="enviaFormulari()" ng-controller="validateCtrl" name="myForm">
                <input type="text" name="user" ng-model="user" required >
                <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                <span ng-show="myForm.user.$error.required">Username is required.</span>
                <button type="submit">Regístrate</button>
       
            <!--
            <div id="cuadroregister">
                <article class="col-sm-12 col-md-4 col-md-offset-4">
                    <div id="titulo" class="col-md-offset-4">
                        <h3>Regístrate</h3>
                    </div>
                    <form (ngSubmit)="enviaFormulari()"ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
                            <input type="text" name="user" ng-model="user" required >
                            <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                            <span ng-show="myForm.user.$error.required">Username is required.</span>
                    Nombre: <input type="text" class="form-control" name="name" #nomProducte="ngModel"  [(ngModel)]="nuevoUsuario.name" pattern="[A-Za-z]{4,15}" required><br/>
                    Apellidos: <input type="text" class="form-control" name="surname" [(ngModel)]="nuevoUsuario.surname" pattern="[A-Za-z]{4,15}"><br/>
                    Fecha nacimiento: <input type="date" class="form-control" name="birthdate" #descrProducte="ngModel" [(ngModel)]="nuevoUsuario.birthdate"><br/>
                    Dirección: <input type="text" class="form-control" name="address" #addressProducte="ngModel" [(ngModel)]="nuevoUsuario.address" ><br/>
                    Email: <input type="email" class="form-control" name="email" #emailProducte="ngModel" [(ngModel)]="nuevoUsuario.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br/>
                    Contraseña: <input type="password" class="form-control" name="password" #passwordProducte="ngModel" [(ngModel)]="nuevoUsuario.password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"><br/>
                    <button type="submit">Regístrate</button>
                    
                    </form>
                </article>
            </div>
            <router-outlet></router-outlet>
        -->
      
    <br /><br /><br /><br /><br /><br /><br />