<footer>
    <div class="container-fluid">
      <section class="main row">
        <div id="footer" class="col-md-12">
          <article class="col-md-3 col-md-offset-1">
            <h4>Sobre Nosotros</h4>
            <ul>
              <li type="circle">Quienes somos?</li>
              <li type="circle">Nuestro proyecto</li>
              <li type="circle">Otras dudas</li>
            </ul>
          </article>
          <article class="col-md-3 col-md-offset-1">
            <h4>Síguenos</h4>
            <button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Síguenos en Facebook</button>
            <br/>
            <button class="btn btn-twitter"><i class="fa fa-twitter"></i> | Síguenos en Twitter</button>
          </article>
          <article class="col-md-3 col-md-offset-1">
            <h4>Contáctanos</h4>
            <ul>
              <li type="circle"><span class="glyphicon glyphicon-pushpin"></span>Dirección: Calle Provenza 513,
                08025,Barcelona</li>
              <li type="circle"><span class="glyphicon glyphicon-envelope"></span>info.plugwalk@gmail.com</li>
              <li type="circle"><span class="glyphicon glyphicon-phone"></span>676384096</li>
            </ul>
          </article>
        </div>
      </section>
    </div>
  </footer>